@use '../styles/mixins';

.photo-card {
    @include mixins.ratio( 564, 495, 37.04vw, 74.07vw, 74.07vw ); /* width, height, backup height, backup height tablet, backup height mobile */
    &__img {
        object-fit: cover;
    }
    &__hover-container {
        position: sticky;
        bottom: 0;
        transition: opacity 300ms ease-in-out;
        opacity: 0;
        background: rgba( 0, 0, 0, 0.5 );
        &:hover {
            opacity: 1;
        }
    }
    &__link, &__lightbox-button, &__text {
        position: absolute;
    }
    &__link {
        left: calc( 50% - 23px );
        top: calc( 50% - 16px );
    }
    &__lightbox-button {
        top: 15px;
    }
    &__lightbox-button, &__text--category {
        right: 15px;
    }
    &__text {
        color: white;
        bottom: 10px;
        &--reference {
            left: 15px;
        }
        &--category {
            font-family: 'SpaceMono';
        }
    }
}

.last-page {
    &.hidden {
        display: none;
    }
}

/* mobile only */
@media screen and ( max-width: 550px ) {
    .photo-card {
        padding-bottom: 20px;
    }
}

/* wider than mobile */
@media screen and ( min-width: 551px ) {
    .photo-card-list {
        margin-top: 40px;
        row-gap: 1.39vw;
        flex-wrap: wrap;
        @include mixins.flex( baseline, space-between ); /* align-items, justify-content */
    }
    .photo-card {
        width: 49.13%;
    }
}

/* wide screen only */
@media screen and ( min-width: 1440px ) {
    .photo-card-list {
        row-gap: 20px;
    }
}